<html>
    <head></head>
    <body>
        <h1>Create Root User</h1>
        {% for message in app.flashes('success') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}
    </body>
</html>