{% extends "AdminBundle:AdminDesign:base.html.twig" %}
{% block content %}
    <div id="content-outer">
        <div id="content">
            <div id="page-heading">
                <h1>Products</h1>
            </div>
            <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
                <tr>
                    <th rowspan="3" class="sized"><img src="images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
                    <th class="topleft"></th>
                    <td id="tbl-border-top">&nbsp;</td>
                    <th class="topright"></th>
                    <th rowspan="3" class="sized"><img src="images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
                </tr>
                <tr>
                    <td id="tbl-border-left"></td>
                    <td>
                        <div id="content-table-inner">
                            <div id="table-content">
                                <form id="mainform" action="">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
                                        <tr>
                                            <th class="table-header-check"><a id="toggle-all" ></a> </th>
                                            <th class="table-header-repeat line-left minwidth-1"><a href="">Name</a>	</th>
                                            <th class="table-header-repeat line-left minwidth-1"><a href="">Price</a></th>
                                            <th class="table-header-repeat line-left"><a href="">Description</a></th>
                                            <th class="table-header-repeat line-left"><a href="">Photo</a></th>
                                        </tr>
                                        {% for product in products %}
                                            <tr {% if (loop.index % 2) == 1 %}class="alternate-row"{% endif %}>
                                                <td><input  type="checkbox"/></td>
                                                <td>{{ product.getName() }}</td>
                                                <td>{{ product.getPrice() }}</td>
                                                <td>{{ product.getDescription() }}</td>
                                                <td><img src="{{ asset(product.getPhoto(true)) }}" height="50" /> </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </form>
                            </div>
                            <div id="actions-box">
                                <a href="" class="action-slider"></a>
                                <div id="actions-box-slider">
                                    <a href="" class="action-edit">Edit</a>
                                    <a href="" class="action-delete">Delete</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
                                <tr>
                                    <td>
                                        <a href="" class="page-far-left"></a>
                                        <a href="" class="page-left"></a>
                                        <div id="page-info">Page <strong>1</strong> / 15</div>
                                        <a href="" class="page-right"></a>
                                        <a href="" class="page-far-right"></a>
                                    </td>
                                    <td>
                                        <select  class="styledselect_pages">
                                            <option value="">Number of rows</option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <div class="clear"></div>
                        </div>
                    </td>
                    <td id="tbl-border-right"></td>
                </tr>
                <tr>
                    <th class="sized bottomleft"></th>
                    <td id="tbl-border-bottom">&nbsp;</td>
                    <th class="sized bottomright"></th>
                </tr>
            </table>
            <div class="clear">&nbsp;</div>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
{% endblock %}